div{
    background-color:chocolate;
    border: 1px whitesmoke;
    width: 50%;
    margin: 10px; 
}

main{
    border: 1px whitesmoke;
    background-color: chocolate;
}

/* if you want to call on an id use # */

#first-div{
    background-color: pink;
}

/* if you want to call on an id use # */

li{
    color: blue;
}

header nav ol li{ 
    color: brown;
}

